/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
*,
.columns {
  margin: 0;
  padding: 0;
}
/*** SMACSS ***/
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.padding-top-1 {
  padding-top: 1em;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
/*** Normal CSS ***/
body {
  font-family: Roboto;
  font-size: 14px;
}
h2 {
  font-weight: 400;
  padding-bottom: 0.2em;
}
h3 {
  font-weight: 200;
}
p {
  font-weight: 200;
}
/*** About ***/
.about {
  padding: 5em;
}
.about p {
  font-size: 1.5em;
}
.emailTo {
  max-width: 40%;
  margin: 0 auto;
}
.box1 {
  overflow: hidden;
  height: 38rem;
  padding: 2em;
}
.box-white {
  padding: 3em 0 0 0;
}
.black-img {
  background-color: rgba(0,0,0,0.3);
}
/*** Clients ***/
.clients p {
  padding: 5em;
}
/*** Email ***/
.emailTo {
  width: 100%;
}
/*** Features ***/
.features {
  padding: 5em;
}
.features p {
  font-size: 1.5em;
}
.f_left {
  text-align: right;
}
.f_right {
  text-align: left;
}
.footer {
  padding-bottom: 2em;
}
.form_cont {
  height: 50vh;
  margin: 0 2em 0 0;
  padding: 2em 5em 2em 5em;
  width: 45%;
}
.img_size {
  max-width: 100% !important;
}
/*** Info of features ***/
.info_f {
  padding: 1.4em;
}
.logo {
  margin-left: 1em;
}
.menu {
  position: fixed;
  width: 100%;
  z-index: 4;
}
.welcome {
  position: absolute;
  top: 8em;
  z-index: 2;
}
/*
	=========================================
	Label's color
	=========================================
*/
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #42a5f5;
}
.input-field input[type=email]:focus + label {
  color: #42a5f5;
}
.input-field input[type=tel]:focus + label {
  color: #42a5f5;
}
.input-field input[type=password]:focus + label {
  color: #42a5f5;
}
.input-field input[type=date]:focus + label {
  color: #42a5f5;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=tel]:focus,
.input-field input[type=password]:focus,
.input-field input[type=date]:focus {
  border-bottom: 1px solid #42a5f5;
  -webkit-box-shadow: 0 1px 0 0 #42a5f5;
  box-shadow: 0 1px 0 0 #42a5f5;
}
