*,
.columns {
  margin: 0;
  padding: 0;
}
/*** SMACSS ***/
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.padding-top-1 {
  padding-top: 1em;
}
/*** Normal CSS ***/
body {
  font-family: Roboto;
  font-size: 14px;
}
h2 {
  font-weight: 400;
}
h3 {
  font-weight: 200;
}
p {
  font-weight: 200;
}
.box1 {
  height: 100%;
  padding: 2em;
}
.box-white {
  padding: 3em 0 0 0;
}
/*** Features ***/
.features {
  padding: 2em;
}
.features p {
  font-size: 1.5em;
}
.img_s {
  height: 90vh;
  overflow: hidden;
}
.img_s img {
  min-width: 100%;
}
/*** Info of features ***/
.info_f {
  padding: 1.4em;
}
.logo {
  margin-left: 1em;
}
.menu {
  position: fixed;
  width: 100%;
  z-index: 2;
}
